* {
    padding: 0;
    margin: 0;
}

#items {
    position: relative;
    margin: auto auto;
}

.box {
    padding: 15px;
    width: 150px;
    word-wrap: break-word;
}

.box-img p {
    font-size: medium;
}

.box-img {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
}

.box-img img {
    width: 100%;
    height: auto;
}
